/*  Globals     */


body {
	height: 100%;
	margin: 0;
}

.container-fluid {
	padding: 0 5px 0 5px;
}

.parralax {
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

/* End of Globals */
#landing {


	h3 {
		text-align: center;
		position: absolute;
		top: 40px;
	}

	.img1 {
		background-image: url("../img/yellow-rose.jpg");
		@extend .parralax;
	}

	.img2 {
		background-image: url("../img/couple1.jpg");
		@extend .parralax;

		.sign-up {
			position: absolute;
			background-color: white;
			left: 30px;
			right: 750px;
			top: 40px;
			border: 2px solid black;
			border-radius: 6px;
			
			h2 {
				text-align: center;
			}

			label {
				padding-left: 30px;
			}

			input {
				width: 95%;
				margin-left: 15px;
			}

			button {
				
				margin-bottom: 10px;
			}
		}
	}

	.img3 {
		background-image: url("../img/married-couple.jpeg");
		@extend .parralax;
	}

	.img4 {
		background-image: url("../img/mountains.jpg");
		@extend .parralax;
	}

	.header {
	    color: #777;
	    background-color: white;
	    padding: 50px 80px;
	    text-align: justify;
	    height: 300px;

	}


}